  <footer class="Footer" role="contentinfo">

    <nav class="FooterNav" aria-label="Footer Navigation">
      {{ $currentPage := . }}
      {{ range .Site.Menus.footer }}
      <a class="FooterNav-link{{if or ($currentPage.IsMenuCurrent "footer" .) ($currentPage.HasMenuCurrent "footer" .) }} active{{end}}"
        href="{{.URL}}">{{ .Name }}</a>
      {{ end }}
    </nav>

    {{ partial "social.html" . }}
  </footer>

  <!-- Store JS files independently -->
  {{ $cloudinary := resources.Get "js/cloudinary-core-shrinkwrap.min.js" }}
  {{ $lazysizes := resources.Get "js/lazysizes.js" }}
  {{ $likes := resources.Get "js/likes.js" }}

  <!-- Concat JS, generate default app.js and app-likes -->
  {{ $defaultJS := slice $cloudinary $lazysizes | resources.Concat "app.js" }}
  {{ $likesJS := slice $cloudinary $lazysizes $likes | resources.Concat "app-likes.js" }}
  <!-- Set default -->
  {{ $script := $defaultJS }}
  <!-- Where type = likes in frontmatter, override default with likesJS -->
  {{if eq .Type "likes" }}
  {{ $script = $likesJS }}
  {{ end }}
  <!-- Assign script to global, minify and fingerprint -->
  {{ $globalJS := $script | resources.Minify | resources.Fingerprint  }}
  <!-- Load script and authenticate hashed file -->
  <script src="{{ $globalJS.Permalink }}" integrity="{{ $globalJS.Data.Integrity }}" media="screen"></script>
  <script>
    var cl = cloudinary.Cloudinary.new({
      cloud_name: "azhar932"
    });

    cl.responsive();
  </script>

  </body>

  </html>
