<div class="Social">
  <div class="Social-icon" style="text-align: right">
    <a style="background-color:white; text-decoration:none" href="https://twitter.com/Azhr_K_">
      <span class="visually-hidden"></span>
      {{ partial "svg/twitter.html" . }}
    </a>
    <a style="background-color:white; text-decoration:none" href="https://github.com/XOR97">
      <span class="visually-hidden"></span>
      {{ partial "svg/github.html" . }}
    </a>
    <a style="background-color:white; text-decoration:none" href="https://www.linkedin.com/in/azhar93">
      <span class="visually-hidden"></span>
      {{ partial "svg/linkedin.html" . }}
    </a>
  </div>
</div>
